body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
/* header */
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
#logo-img{
    /* background: url('../images/logo.png') no-repeat; */
    /* background: url("../images/one.jpg") no-repeat; */
    /* width: 165px; */
    height: 150px;
    margin: 10px 15px 10px 0;
}
#kosher{
    width: 20px;
    height: 20px;
}
.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{ /* Restaurant name*/
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:  1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{/*Kosher Cert*/
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span{ /*star-k*/
vertical-align: middle;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color : #951C49;
    text-align: center;
}
#nav-list a:hover{
    background:  #E7E7E7;
}
#nav-list a span{
    font-size: 1.5em;
}

#phone{
    margin-top: 5px;
}
#phone a{/* phone number*/
    text-align: right;
    padding-bottom: 0;
}

#phone div{
    color: #557c3e;
    text-align: right;
    padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle{
    clear :both;
    margin-top: -30px;
}
/* END HEADER */
/***************** Large Devices only ****************/
@media (min-width:1200px){

}

/***************** Medium Devices only ***************/
@media (min-width:992px) and (max-width:1199px){
    #logo-img{
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
}

/***************** Small Devices only ****************/
@media(min-width:768px) and (max-width:991px){

}

/***************** Extra Small Devices only ************/
@media(max-width: 767px){
    /* Header */
    .navbar-brand{
        padding-top : 10px;
        height: 80px;
    }
    .navbar-brand h1{ /* Restaurant name */
        padding-top:10px;
        font-size: 5vw; /* 1vw = 1% of viewport width */
    }
    .navbar-brand p{ /*Kosher Cert */
        font-size: .6em;
        margin-top: 12px;
    }
    .navbar-brand p img{ /* Star-k */
        height :20px;
    }

    #collapsable-nav a{ /*Collapsed Nav Menu*/
        font-size:1.2em;
    }
    #collapsable-nav a span{
        font-size: 1em;
        margin-right: 5px;
    }
}