body{
    font-size: 16px;
    color: #fff;
    background-color: #EAE7DC;

}
#header-nav{
    background-color:#E85A5F;
    border-radius: 0;
    border: 0;
    /* height: 70px; */
}
.navbar-brand{
    padding-top: 25px;
}
.navbar-brand h1{ /* Restaurant name*/
    font-family: 'Acme', sans-serif;
    color:  #fff;;
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
#nav-list{
    margin-top: 10px;
}

#nav-list a{
    color : #fff;
    text-align: center;
    background-color;
}
#nav-list a:hover{
    background:  #D8C3A5;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #fff;
}

.navbar-header button.navbar-toggle{
    clear :both;
    margin-top: -30px;
}
/* END HEADER */

/*MAIN CONTENT*/

#title{
    margin-bottom: 30px;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    color: #000A;
}

#description{
    font-family: 'Monda', sans-serif;
    background-color: #8E8D8A ;
    padding: 30px;
}

#menu-title{
    margin-bottom: 20px;
    font-size: 1.5em ;
    text-transform: uppercase;
    font-family: 'Acme', sans-serif;
}



/* Large devices only */

@media(min-width:1200px){
    #header-nav{
        height: 70px;
    }
}

/* Medium Devices only*/
@media(min-width:992px) and (max-width:1199px){
    #header-nav{
        height: 70px;
    }
    
}

/*Small Devices only*/

@media(min-width: 768px) and (max-width:991px){
    #header-nav{
        height: 70px;
    }
}